﻿@{
    ViewBag.Title = "Administration";
}


<div class="row">
    <div class="col-md-4">
        <h2>Administering your Organization</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    
</div>