﻿@model CovidTracing.ViewModels.DailyRegistrationViewModel
@using CovidTracing.Resources;

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>DailyRegistrationViewModel</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @if (@ViewBag.Mode == "Delete")
    {
        <h1>Are you sure you want to delete this record?</h1>
    }
    else
    {
        
        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SubUserId, (IEnumerable<SelectListItem>)ViewBag.SubUserSelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SubUserId, "", new { @class = "text-danger" })
            </div>
        </div>

        
        <div class="form-group">
            @Html.Label(Questions.Question1, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(x => Model.Answer1, new SelectList(new List<object> {new {Value = (bool?) null, Text = "Please select"}, new {Value = true, Text = "Yes"}, new {Value = false, Text = "No"}}, "Value", "Text"), htmlAttributes: new {@class = "form-control", id = "Answer1"})
                @Html.ValidationMessageFor(model => model.Answer1, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.Label(Questions.Question2, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(x => Model.Answer2, new SelectList(new List<object> {new {Value = (bool?) null, Text = "Please select"}, new {Value = true, Text = "Yes"}, new {Value = false, Text = "No"}}, "Value", "Text"), htmlAttributes: new {@class = "form-control", id = "Answer2"})
                @Html.ValidationMessageFor(model => model.Answer2, "", new {@class = "text-danger"})
            </div>
        </div>
        <p>@Questions.QuestionGroup1 :</p>
        <div class="form-group">
            @Html.Label(Questions.Question3, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(x => Model.Answer3, new SelectList(new List<object> {new {Value = (bool?) null, Text = "Please select"}, new {Value = true, Text = "Yes"}, new {Value = false, Text = "No"}}, "Value", "Text"), htmlAttributes: new {@class = "form-control", id = "Answer3"})
                @Html.ValidationMessageFor(model => model.Answer3, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.Label(Questions.Question4, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(x => Model.Answer4, new SelectList(new List<object> {new {Value = (bool?) null, Text = "Please select"}, new {Value = true, Text = "Yes"}, new {Value = false, Text = "No"}}, "Value", "Text"), htmlAttributes: new {@class = "form-control", id = "Answer4"})
                @Html.ValidationMessageFor(model => model.Answer4, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.Label(Questions.Question5, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(x => Model.Answer5, new SelectList(new List<object> {new {Value = (bool?) null, Text = "Please select"}, new {Value = true, Text = "Yes"}, new {Value = false, Text = "No"}}, "Value", "Text"), htmlAttributes: new {@class = "form-control", id = "Answer5"})
                @Html.ValidationMessageFor(model => model.Answer5, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.Label(Questions.Question6, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(x => Model.Answer6, new SelectList(new List<object> {new {Value = (bool?) null, Text = "Please select"}, new {Value = true, Text = "Yes"}, new {Value = false, Text = "No"}}, "Value", "Text"), htmlAttributes: new {@class = "form-control", id = "Answer6"})
                @Html.ValidationMessageFor(model => model.Answer6, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.Label(Questions.Question7, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(x => Model.Answer7, new SelectList(new List<object> {new {Value = (bool?) null, Text = "Please select"}, new {Value = true, Text = "Yes"}, new {Value = false, Text = "No"}}, "Value", "Text"), htmlAttributes: new {@class = "form-control", id = "Answer7"})
                @Html.ValidationMessageFor(model => model.Answer7, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.Label(Questions.Question8, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(x => Model.Answer8, new SelectList(new List<object> {new {Value = (bool?) null, Text = "Please select"}, new {Value = true, Text = "Yes"}, new {Value = false, Text = "No"}}, "Value", "Text"), htmlAttributes: new {@class = "form-control", id = "Answer8"})
                @Html.ValidationMessageFor(model => model.Answer8, "", new {@class = "text-danger"})
            </div>
        </div>
    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="@ViewBag.Mode" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
