﻿@using CovidTracing.Resources
@model IEnumerable<CovidTracing.ViewModels.DailyRegistrationViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <span title="@Questions.Question1">Answer1</span>
        </th>
        <th>
            <span title="@Questions.Question2">Answer2</span>
        </th>
        <th>
            <span title="@Questions.Question3">Answer3</span>
        </th>
        <th>
            <span title="@Questions.Question4">Answer4</span>
        </th>
        <th>
            <span title="@Questions.Question5">Answer5</span>
        </th>
        <th>
            <span title="@Questions.Question6">Answer6</span>
        </th>
        <th>
            <span title="@Questions.Question7">Answer7</span>
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Answer1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer7)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>


            @if (item.VenueRegistrations == 0)
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.Id}) <span>| </span>
            }
            @Html.ActionLink("Details", "Details", new { id = item.Id })
            @if (item.VenueRegistrations == 0)
            {
                <span>| </span>@Html.ActionLink("Delete", "Delete", new { id = item.Id})
            }

        </td>
    </tr>
}

</table>
